<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <div class="jumbotron">
  <div class="container text-center">
   <h1 class="jumboh1">Item Catalog App</h1>
   <p class="topsmall">A Udacity Project</p>
   <h5>By Abdirashiid Jama</h5>
      </div>
      </div>
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <script>
function goBack() {
  window.history.back();
}
</script>
  {% block head %}{% endblock %}
</head>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
      <i class="glyphicon glyphicon-log-in" style="font-size:18px;color:red;"></i>
      {% if 'username' not in session %}
      <a href="{{ url_for('login') }}">
        <button type="submit" class="btn btn-link">Login or Sign up</button>
      </a>
      {% else %}
        <a class="nav-link" href="{{url_for('gdisconnect')}}">
          <button type="submit" class="btn btn-link">Logout</button>
        </a>
      {% endif %}


    </div>
    <!-- <div class = "col-sm-4">
      <i class ="glyphicon glyphicon-chevron-left" style="font-size:18px;color:green;">
            <button class="btn btn-link" onclick="goBack()">Go Back</button>
      </i>
    </div> -->
    <div class = "col-sm-6">
        <span class="pull-right">
              <i class="glyphicon glyphicon-home" style="font-size:18px;color:#4286f4;"></i>
                  <button type="button" class="btn btn-link"><a href="{{ url_for('home') }}">Home</a></button>
        </span>
     </div>
    </div>
   </div>
 </nav>
                
                {% if 'username' in session %}
                
                 {% else %}
                <ul class="nav navbar-nav navbar-right">

                
              </ul>
              
            
                {% endif %}
          </div>        
       </div>
  </div>
</nav>
  

{% block content %}
{% endblock %}

</body>
</html>
